<nav role="navigation">
    <div class="nav-wrapper">
        <a [routerLink]="['']" class="brand-logo">DevPro Cr </a>
        <a (click)="openSideBar()" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['']" routerLinkActive="router-link-active">Inicio</a></li>
            <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a></li>
            <li><a [routerLink]="['/team']" routerLinkActive="router-link-active">Equipo</a></li>
            <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacto</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="nav-mobile" (click)="close()">
    <li><a [routerLink]="['']" routerLinkActive="router-link-active">Inicio</a></li>
    <li><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active">Portfolio</a></li>
    <li><a [routerLink]="['/team']" routerLinkActive="router-link-active">Equipo</a></li>
    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contacto</a></li>
</ul>

<div (click)="close()" class="sidenav-overlay" id="overlay" style="display: none; opacity: 0;"></div>