<div class="container ourContacts">

    <header class="section-header">
        <h3 class="section-title">Contáctenos</h3>
        <p>Estas son nuestras formas de contacto rápido a una nueva generacíon en diseño y programación</p>
    </header>


    <div>
        <div class="row contact-info">
            <div class="col s12 m4 l4">
                <div class="contact-address">
                    <i class="ion-ios-location-outline"></i>
                    <h3>Dirección</h3>
                    <address>San José, Costa Rica</address>
                </div>
            </div>

            <div class="col s12 m4 l4">
                <div class="contact-phone">
                    <i class="ion-ios-telephone-outline"></i>
                    <h3>Teléfonos</h3>
                    <p><a href="tel:+50686238121">+506 8623 8121</a></p>
                    <p><a href="tel:+50687407479">+506 8740 7479</a></p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="contact-email">
                    <i class="ion-ios-email-outline"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:devprocr@gmail.com">devprocr@gmail.com</a></p>
                </div>
            </div>

        </div>

        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Apellidos</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea1" class="materialize-textarea"></textarea>
                        <label for="textarea1">Consulta</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12" style="text-align:center">
                        <a class="center waves-effect waves-light btn-small">Enviar Mensaje</a>

                    </div>
                </div>
            </form>
        </div>

    </div>

</div>