.grid-example {
    position: relative;
    display: inline;
}

.paith {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.up-transition{
    margin-top: 10px;
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.up-transition.down-out{
    margin-top: 100%;
    display: block;
    position: relative;
    transition: all 0.5s ease-in-out;
}


.right-transition-dev{
    margin-left: 0px;
    display: block;
    position: relative;
    transition: all 0.7s ease-in-out; 
}

.right-transition.slide-out-dev{
    margin-left: 100%;
    display: block;
    position: relative;
    transition: all 0.7s ease-in-out;
}