<div class="myContainer">


    <div class="row" style="margin-bottom:0px">

        <div class="grid-example lets dot-cont col s12 m12 l12 blue lighten-2" style="height:100vh">
            <div class="container ">
                <h1 class="header center header-l white-text text-lighten-2">Equipo de trabajo</h1>
                <div class="row center">
                    <h5 class="header col s12 white-text">Un grupo joven con gran conocimiento en el area de desarrollo y diseño</h5>
                </div>
                <br><br>



            </div>
            <button (click)="godown()" class="button-dowm scale-transition" [ngClass]="{'scale-out': show}">
                <i class="material-icons" style="color: white; font-size: 42px;">expand_more</i>
            </button>
        </div>

        <div class="grid-example col s12 m12 l12" style="height:auto">
            <div class="row">
                <div class="col s12 m6 up-transition" [ngClass]="{'down-out': !show}">
                    <div class="card large blue-grey darken-1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/jp_umana.jpg" style="width: 100%;max-height: 100%">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator">José Pablo Umaña Godínez<i class="material-icons right">more_vert</i></span>
                            <h5 class="card-title">Animador Digital y Diseñador</h5>
                            <div>
                                <div style="display:inline-block; margin-right: 8px"> <a href="mailto:jpug103@gmail.com" class="white-text"><i style="font-size: 24px;" class="icon ion-md-mail"></i></a> </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.instagram.com/jp_artbook/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-instagram"></i></a>
                                </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.linkedin.com/in/jpug103/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal blue-grey darken-1">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 up-transition" [ngClass]="{'down-out': !show}">
                    <div class="card large blue-grey darken-1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/aa.jpg" style="width: 100%;max-height: 100%">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator">Aarón Camacho Leandro<i class="material-icons right">more_vert</i></span>
                            <h5 class="card-title">Desarrollador Frontend</h5>
                            <div>
                                <div style="display:inline-block; margin-right: 8px"> <a href="mailto:jpug103@gmail.com" class="white-text"><i style="font-size: 24px;" class="icon ion-md-mail"></i></a> </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.instagram.com/jp_artbook/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-instagram"></i></a>
                                </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.linkedin.com/in/jpug103/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal blue-grey darken-1">
                            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
                <!--END OF CARD-->

                <div class="col s12 m6 up-transition" [ngClass]="{'down-out': !show}">
                    <div class="card large blue-grey darken-1">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="assets/0.jpg" style="width: 100%;max-height: 100%">
                        </div>
                        <div class="card-content white-text">
                            <span class="card-title activator">Emilio Perez Chinchilla<i class="material-icons right">more_vert</i></span>
                            <h5 class="card-title">Desarrollador Backend</h5>
                            <div>
                                <div style="display:inline-block; margin-right: 8px"> <a href="mailto:jpug103@gmail.com" class="white-text"><i style="font-size: 24px;" class="icon ion-md-mail"></i></a> </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.instagram.com/jp_artbook/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-instagram"></i></a>
                                </div>
                                <div style="display:inline-block;  margin-right: 8px">
                                    <a target="_blank" href="https://www.linkedin.com/in/jpug103/" class="white-text"> <i style="font-size: 24px;" class="icon ion-logo-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-reveal blue-grey darken-1">
                            <span class="card-title white-text">Card Title<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>