<div class="myContainer">


    <div class="row">

        <div class="grid-example col s12 m6" style="height:50vh">
            <div id="div0" class="paith cyan">
                <h1>DIV 1 </h1>
            </div>

            <div id="div1" class="paith blue">
                <h1>DIV 2 </h1>
            </div>

            <div id="div2" class="paith red">
                <h1>DIV 3 </h1>
            </div>

            <div id="div3" class="paith yellow">
                <h1>DIV 4 </h1>
            </div>

        </div>

        <div class="grid-example col s12 m6" style="height:50vh">


        </div>

        <div class="grid-example col s12 m6" style="height:50vh">


        </div>

        <div class="grid-example col s12 m6 cyan darken-4" style="height:50vh">


        </div>

    </div>

</div>